.WorkCardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 43px;
}

@media (max-width:992px) {
    .WorkCardContainer {
        gap: 20px;
    }
}