.Footer {
    padding: 35px 70px 24px;
}

.Footer-top {
    gap: 60px;
    align-items: flex-start;
    margin-bottom: 35px;
}

.Footer-top-Left {
    width: 28.6843%;
    justify-content: flex-start;
    gap: 25.92px;
}

.Footer-top-Left img {
    width: 65.92px;
}

.Footer-top-Left p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0%;
    color: var(--glass-dark);

}

.AllFooterColumn {
    gap: 60px;
}


.Line {
    width: 100%;
    border: 1px solid #2222221A;
}

.Footer-Bottom {
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
}

.Footer-Bottom p {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 2%;
    color: var(--deep-black);

}

.EndFooterRight {
    gap: 30px;
}

@media (max-width:992px) {
    .Footer {
        padding: 0px;
    }

    .Footer-top {
        gap: 32px;
        flex-direction: column;
        padding: 0 20px;
        margin-bottom: 35.19px;
    }

    .Footer-top-Left {
        width: 100%;
        gap: 26px;
    }

    .Footer-top-Left img {
        width: 60px;
    }


    .AllFooterColumn {
        flex-direction: column;
        gap: 20px;
    }



    .Footer-Bottom {
        flex-direction: column;
        align-items: center;
        margin-top: 16px;
        padding: 0 27.39px 27px 13.95px;
    }



    .EndFooterRight {
        gap: 0px;
        justify-content: space-between;
    }

}