.FulterButton {
    border: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: var(--deep-black);

}

.FulterButton.active {
    border-bottom: 2px solid var(--ocean-blue);
    padding-bottom: 15px;
    color: var(--ocean-blue);
}